<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <theme-tile v-for="theme in themes" v-bind:theme="theme" :topics=topics></theme-tile>
    </div>
</body>
<script>
    Vue.component('theme-tile', {
        props: ['theme', 'topics'],
        template: `
        <div>
            <div class="tile theme-tile" :id="'theme'+theme.id">
                {{theme.title}}
            </div>
            <topic-tile v-for="topic in filter_topics(theme.id)" :topic="topic"></topic-tile>
        </div>
        `,
        methods: {
            filter_topics: function(theme_id) {
                return this.topics.filter(topic => topic.theme === theme_id)
            },
            set_position: function() {
                let element = document.getElementById('theme' + this.theme.id)
                element.style.top = this.theme.top + "px"
                element.style.left = this.theme.left + "px"
                document.body.append(element)
            }
        },
        mounted: function() {
            this.set_position()
        }
    })
    Vue.component('topic-tile', {
        props: ['topic'],
        template: `
        <div class="tile topic-tile" :id="'topic'+topic.id">
            {{topic.title}}
        </div>
        `,
        methods: {
            set_position: function() {
                let element = document.getElementById('topic' + this.topic.id)
                element.style.top = this.topic.top + "px"
                element.style.left = this.topic.left + "px"
                document.body.append(element)
            }
        },
        mounted: function() {
            this.set_position()
        }
    })
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                themes: [
                    {"id": 1, "title": "Internet", "left": 500, "top": 100},
                    {"id": 2, "title": "Basic Frontend Knowledge", "left": 520, "top": 200},
                    {"id": 3, "title": "OS and Genereal Knowledge", "left": 550, "top": 300}
                ],
                topics: [
                    {"id": 1, "title": "How does the internet work?", "theme": 1, "left": 200, "top": 50},
                    {"id": 2, "title": "What is HTTP?", "theme": 1, "left": 200, "top": 120},
                    {"id": 3, "title": "Browsers and how they work?", "theme": 1, "left": 200, "top": 170},
                    {"id": 4, "title": "DNS and how it works?", "theme": 1, "left": 800, "top": 50},
                    {"id": 5, "title": "What is Domain Name?", "theme": 1, "left": 800, "top": 120},
                    {"id": 6, "title": "What is hosting?", "theme": 1, "left": 800, "top": 170},
                    {"id": 7, "title": "HTML", "theme": 2, "left": 200, "top": 230},
                    {"id": 8, "title": "CSS", "theme": 2, "left": 800, "top": 230},
                    {"id": 9, "title": "JavaScript", "theme": 2, "left": 800, "top": 280},
                    {"id": 10, "title": "Terminal Usage", "theme": 3, "left": 200, "top": 500},
                    {"id": 11, "title": "How OSs work in General", "theme": 3, "left": 200, "top": 550},
                    {"id": 12, "title": "Process Management", "theme": 3, "left": 200, "top": 600},
                    {"id": 13, "title": "Threads and Concurrency", "theme": 3, "left": 200, "top": 650},
                    {"id": 14, "title": "Basic Terminal Commands", "theme": 3, "left": 200, "top": 700},
                    {"id": 15, "title": "Memory Management", "theme": 3, "left": 200, "top": 750},
                    {"id": 16, "title": "Interprocess Communication", "theme": 3, "left": 200, "top": 800},
                    {"id": 17, "title": "I/O Management", "theme": 3, "left": 200, "top": 850},
                    {"id": 18, "title": "POSIX Basics", "theme": 3, "left": 200, "top": 900},
                    {"id": 19, "title": "Basic Networking Concepts", "theme": 3, "left": 200, "top": 950}
                ]
            }
        },
    })
</script>
<style>
    .tile {
        border: 2px solid black;
        padding: 10px;
        margin: 5px;
        width: auto;
        min-width: 100px;
        max-width: 250px;
        position: fixed;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }
    .theme-tile {
        background-color: rgb(255, 251, 37);
    }
    .topic-tile {
        background-color: rgb(255, 169, 169);
    }
</style>
